In [4]:
import xarray as xr
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np
import cmocean.cm as cmo
#import cartopy.crs as ccrs # these ones are not needed
#import cartopy.feature as cfeature  #these ones are not needed
import matplotlib as mpl
import gsw
import warnings
from matplotlib.lines import Line2D
from mpl_toolkits.axes_grid1.inset_locator import inset_axes
warnings.filterwarnings("ignore")
#import OWSLib
font = {'size'   : 13}
mpl.rc('font', **font)

In [5]:
station_info = pd.read_csv('byfjorden_clean_data.csv')
data_2019_ST_1 = station_info[station_info['STATION'] == "ST_1"]
data_2019_ST_2 = station_info[station_info['STATION'] == "ST_2"]
data_2019_ST_6 = station_info[station_info['STATION'] == "ST_6"]

In [18]:
# calculate SA, CT and Density first (fertigstellen des Plots)
SAst9 = gsw.SA_from_SP(data_2019_ST_1["sal00"],data_2019_ST_1["prDM"],data_2019_ST_1["latitude"],data_2019_ST_1["longitude"])
CTst9 = gsw.CT_from_t(SAst9,data_2019_ST_1['t090C'],data_2019_ST_1["prDM"])
rhost9 = gsw.rho(SAst9,CTst9,data_2019_ST_1['prDM'])
data_2019_ST_1["density"]=rhost9
data_2019_ST_1

,Unnamed: 0.1,Unnamed: 0,latitude,longitude,timeJ,t090C,T0,c0S/m,C0,prDM,...,t190C,T1,c1S/m,C1,sbeox1V,oxy1,xmiss,potemp090C,sbeox0PS,density
0,0,0,58.33289,11.87168,39.358724,15.2260,15.2260,2.847648,2.847648,1.009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1016.002096
1,1,1,58.33294,11.87170,39.358961,15.1916,15.1916,2.833230,2.833230,1.514,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1015.931790
2,2,2,58.33294,11.87170,39.358962,15.1439,15.1439,2.803977,2.803977,2.019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1015.771651
3,3,3,58.33294,11.87170,39.358978,15.5512,15.5512,2.881293,2.881293,2.523,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1016.022598
4,4,4,58.33294,11.87170,39.358992,15.6653,15.6653,2.942498,2.942498,3.028,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1016.351066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114430,2349,2349,NaN,NaN,NaN,NaN,NaN,3.174446,3.174446,11.451,...,NaN,NaN,NaN,NaN,NaN,NaN,90.2637,NaN,NaN,NaN
114431,2350,2350,NaN,NaN,NaN,NaN,NaN,3.174657,3.174657,11.451,...,NaN,NaN,NaN,NaN,NaN,NaN,90.2680,NaN,NaN,NaN
114432,2351,2351,NaN,NaN,NaN,NaN,NaN,3.174804,3.174804,11.451,...,NaN,NaN,NaN,NaN,NaN,NaN,90.2712,NaN,NaN,NaN
114433,2352,2352,NaN,NaN,NaN,NaN,NaN,3.174889,3.174889,11.451,...,NaN,NaN,NaN,NaN,NaN,NaN,90.2734,NaN,NaN,NaN
114434,2353,2353,NaN,NaN,NaN,NaN,NaN,3.174917,3.174917,11.451,...,NaN,NaN,NaN,NaN,NaN,NaN,90.2742,NaN,NaN,NaN

In [19]:
SAst9 = gsw.SA_from_SP(data_2019_ST_2["sal00"],data_2019_ST_2["prDM"],data_2019_ST_2["latitude"],data_2019_ST_2["longitude"])
CTst9 = gsw.CT_from_t(SAst9,data_2019_ST_2['t090C'],data_2019_ST_2["prDM"])
rhost9 = gsw.rho(SAst9,CTst9,data_2019_ST_2['prDM'])
data_2019_ST_2["density"]=rhost9
data_2019_ST_2

,Unnamed: 0.1,Unnamed: 0,latitude,longitude,timeJ,t090C,T0,c0S/m,C0,prDM,...,t190C,T1,c1S/m,C1,sbeox1V,oxy1,xmiss,potemp090C,sbeox0PS,density
87,87,87,58.32822,11.8559,39.386507,14.8777,14.8777,2.680972,2.680972,0.505,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1015.122305
88,88,88,58.32822,11.8559,39.386782,14.8835,14.8835,2.682786,2.682786,1.009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1015.132915
89,89,89,58.32822,11.8559,39.386796,14.8856,14.8856,2.689394,2.689394,1.514,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1015.177155
90,90,90,58.32822,11.8559,39.386820,14.8913,14.8913,2.703480,2.703480,2.019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1015.268278
91,91,91,58.32822,11.8559,39.386841,15.0266,15.0266,2.760816,2.760816,2.523,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1015.563650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121950,9869,9869,NaN,NaN,NaN,NaN,NaN,3.373422,3.373422,36.146,...,NaN,NaN,NaN,NaN,NaN,NaN,90.8014,NaN,NaN,NaN
121951,9870,9870,NaN,NaN,NaN,NaN,NaN,3.373420,3.373420,36.146,...,NaN,NaN,NaN,NaN,NaN,NaN,90.7940,NaN,NaN,NaN
121952,9871,9871,NaN,NaN,NaN,NaN,NaN,3.373419,3.373419,36.147,...,NaN,NaN,NaN,NaN,NaN,NaN,90.7882,NaN,NaN,NaN
121953,9872,9872,NaN,NaN,NaN,NaN,NaN,3.373418,3.373418,36.147,...,NaN,NaN,NaN,NaN,NaN,NaN,90.7845,NaN,NaN,NaN
121954,9873,9873,NaN,NaN,NaN,NaN,NaN,3.373418,3.373418,36.147,...,NaN,NaN,NaN,NaN,NaN,NaN,90.7832,NaN,NaN,NaN

In [14]:
SAst9 = gsw.SA_from_SP(data_2019_ST_6["sal00"],data_2019_ST_6["prDM"],data_2019_ST_6["latitude"],data_2019_ST_6["longitude"])
CTst9 = gsw.CT_from_t(SAst9,data_2019_ST_6['t090C'],data_2019_ST_6["prDM"])
rhost9 = gsw.rho(SAst9,CTst9,data_2019_ST_6['prDM'])
data_2019_ST_6["density"]=rhost9
data_2019_ST_6

,Unnamed: 0.1,Unnamed: 0,latitude,longitude,timeJ,t090C,T0,c0S/m,C0,prDM,...,t190C,T1,c1S/m,C1,sbeox1V,oxy1,xmiss,potemp090C,sbeox0PS,density
121,259,259,58.34156,11.89877,39.486312,15.7974,15.7974,2.927023,2.927023,1.009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1016.157350
122,260,260,58.34160,11.89876,39.486623,15.8900,15.8900,2.978556,2.978556,1.514,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1016.433444
123,261,261,58.34160,11.89876,39.486648,15.9260,15.9260,3.010008,3.010008,2.019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1016.615690
124,262,262,58.34160,11.89876,39.486666,15.9323,15.9323,3.029881,3.029881,2.523,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1016.742325
125,263,263,58.34160,11.89876,39.486685,15.9284,15.9284,3.041379,3.041379,3.028,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1016.821450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131744,19663,19663,NaN,NaN,NaN,NaN,NaN,3.364376,3.364376,16.828,...,NaN,NaN,NaN,NaN,NaN,NaN,92.5287,NaN,NaN,NaN
131745,19664,19664,NaN,NaN,NaN,NaN,NaN,3.364338,3.364338,16.828,...,NaN,NaN,NaN,NaN,NaN,NaN,92.5324,NaN,NaN,NaN
131746,19665,19665,NaN,NaN,NaN,NaN,NaN,3.364312,3.364312,16.829,...,NaN,NaN,NaN,NaN,NaN,NaN,92.5345,NaN,NaN,NaN
131747,19666,19666,NaN,NaN,NaN,NaN,NaN,3.364297,3.364297,16.829,...,NaN,NaN,NaN,NaN,NaN,NaN,92.5353,NaN,NaN,NaN
131748,19667,19667,NaN,NaN,NaN,NaN,NaN,3.364293,3.364293,16.829,...,NaN,NaN,NaN,NaN,NaN,NaN,92.5355,NaN,NaN,NaN

In [15]:
#connect all the data
data_2019_ox = pd.concat([data_2019_ST_1, data_2019_ST_2, data_2019_ST_6], axis=0)
data_2019_ox

,Unnamed: 0.1,Unnamed: 0,latitude,longitude,timeJ,t090C,T0,c0S/m,C0,prDM,...,t190C,T1,c1S/m,C1,sbeox1V,oxy1,xmiss,potemp090C,sbeox0PS,density
0,0,0,58.33289,11.87168,39.358724,15.2260,15.2260,2.847648,2.847648,1.009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1016.002096
1,1,1,58.33294,11.87170,39.358961,15.1916,15.1916,2.833230,2.833230,1.514,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1015.931790
2,2,2,58.33294,11.87170,39.358962,15.1439,15.1439,2.803977,2.803977,2.019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1015.771651
3,3,3,58.33294,11.87170,39.358978,15.5512,15.5512,2.881293,2.881293,2.523,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1016.022598
4,4,4,58.33294,11.87170,39.358992,15.6653,15.6653,2.942498,2.942498,3.028,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1016.351066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131744,19663,19663,NaN,NaN,NaN,NaN,NaN,3.364376,3.364376,16.828,...,NaN,NaN,NaN,NaN,NaN,NaN,92.5287,NaN,NaN,NaN
131745,19664,19664,NaN,NaN,NaN,NaN,NaN,3.364338,3.364338,16.828,...,NaN,NaN,NaN,NaN,NaN,NaN,92.5324,NaN,NaN,NaN
131746,19665,19665,NaN,NaN,NaN,NaN,NaN,3.364312,3.364312,16.829,...,NaN,NaN,NaN,NaN,NaN,NaN,92.5345,NaN,NaN,NaN
131747,19666,19666,NaN,NaN,NaN,NaN,NaN,3.364297,3.364297,16.829,...,NaN,NaN,NaN,NaN,NaN,NaN,92.5353,NaN,NaN,NaN
131748,19667,19667,NaN,NaN,NaN,NaN,NaN,3.364293,3.364293,16.829,...,NaN,NaN,NaN,NaN,NaN,NaN,92.5355,NaN,NaN,NaN

In [20]:
# to convert  oxygen units from umol/kg to ml/l, umol/kg needs to be divided my the density
data_2019_ox["oxygen_ml"]=(data_2019_ox["sbox0Mm/Kg"]*data_2019_ox["density"])/44660
#data_2019_ox["oxygen_ml"].max()
data_2019_ox.to_csv('2019_fixed_oxy.csv')